:root {
    --color-navbar: #394B59;
    --color-navbar-light: #394B59aa;
    --color-text: #fff;
    --color-primary: #2586C2;
    --color-hover-primary: #2679AC;
    --color-border-primary: #1D5A7F;
    --radius-border-medium: 3px;
    --width-separator-thin: 1px;
    --font-size-small: 11px;
    --font-size-medium: 14px;
}

#header, #header a:link {
    background: var(--color-navbar);
    color: var(--color-text) !important;
}

input[type=submit], input[type=button], input[type=submit].default{
    background: var(--color-primary);
    border: var(--width-separator-thin) solid var(--color-border-primary);
    font-size: var(--font-size-medium);
}

input[type=submit]:hover, input[type=button]:hover, input[type=submit].default:hover {
    background-color: var(--color-hover-primary);
}

#branding img {
    width: 100%;
    max-width: 100px;
}

#user-tools, #branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: var(--bb-text-color);
}

.breadcrumbs, #changelist-filter h2, .selector-chosen h2, .module caption, .inline-group h2 {
    background: var(--color-primary) !important;
    color: var(--color-text);
}

#content-related .module h2 {
    color: #000;
}

.logo {
    margin: auto;
    margin-bottom: 24px;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12px;
}

.goto-url {
    padding: 10px;
    margin-left: 10px;
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, .5);
    background-color: var(--color-primary);
    display: inline-block;
    color: var(--color-text) !important;
    border-radius: 2px;
    padding: 6px 8px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    transition: .2s all ease-in-out;
}

.goto-url:active {
    box-shadow: 0 1px 2px -1px rgba(0, 0, 0, .5);
    transform: translateY(1px);
}

.goto-url:hover {
    background-color: var(--color-hover-primary);
}

.actions-container {
    display: flex;
}

#changelist-filter select {
    margin: 5px;
    width: calc(100% - 10px);
}
