#content{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;

}

#content >h1 {
    font-weight: 600;
    text-transform: capitalize;
}

.content-main {
    align-self: flex-start;
}

