* {
    box-sizing: border-box;
}

:root {
    --spacing-extra-large: 30px;
    --spacing-large: 20px;
    --spacing-medium: 16px;
    --spacing-small: 10px;
    --spacing-extra-small: 6px;
    --spacing-super-small: 3px;
    --width-separator-thin: 1px;
    --color-separator: rgba(0, 0, 0, 0.1);
    --font-size-small: 11px;
    --font-size-medium: 14px;
    --font-size-large: 16px;
    --color-background: #f5f5f5;
    --color-foreground: #ffffff;
    --font-weight-thin: 300;
    --font-weight-medium: 400;
    --font-weight-bold: 700;
    --width-input: 260px;
    --color-danger: #d3575e;
    --color-primary: #2586C2;
    --color-hover-primary: #2679AC;
    --color-border-primary: #1D5A7F;
    --color-secondary: #EFA741;
    --color-navbar: #394B59;
    --radius-border-medium: 3px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-medium);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    line-height: 1.5;
    background-color: var(--color-background);
}

img{
    max-width: 100%;
}

.page-header{
    display: flex;
    flex-shrink: 0;
    align-items: center;
    width: 100vw;
    background-color: var(--color-navbar);
    align-self: flex-start;
    height: 50px;
    padding: 0 var(--spacing-extra-large);
}

.page-header img{
    width: 100px;
}

body .main{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}
body .main-wrapper {
    border: var(--width-separator-thin) solid var(--color-separator);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-foreground);
    padding: var(--spacing-small) var(--spacing-extra-large);
}


body .main-wrapper > .header {
    width: 100%;
    padding: var(--spacing-large);
}

body .main-wrapper > .separator {
    margin: var(--spacing-medium);
    border: var(--width-separator-thin) solid var(--color-separator);
    align-self: stretch;
}

body .main-wrapper > .content {
    padding: var(--spacing-large);
}

.top {
    display: flex;
    justify-content: center;
    margin-bottom: var(--spacing-extra-small);
}

.top .gc-logo {
    max-width: 100%;
}

.top .title {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
}

.bottom {
    text-align: center;
}

.title,
.description {
    margin: 0;
}

.form {
    display: flex;
    flex-direction: column;
}
.form .errorlist {
    width: var(--width-input);
    list-style: none;
    padding: 0;
    font-size: var(--font-size-small);
    color: var(--color-danger);
}

.form p label {
    font-size: var(--font-size-small);
    display: block;
    width: 100%;
}

.form p input {
    display: block;
    width: var(--width-input);
    outline: 0;
    border: 0;
    padding: var(--spacing-super-small) 0;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    border-bottom: var(--width-separator-thin) solid var(--color-separator);
}

.form p input:focus {
    border-bottom-color: var(--color-primary);
}

button {
    align-self: flex-start;
    outline: 0;
    color: var(--color-foreground);
    border-radius: var(--radius-border-medium);
    background-color: var(--color-primary);
    border: var(--width-separator-thin) solid var(--color-border-primary);
    cursor: pointer;
    padding: var(--spacing-extra-small) var(--spacing-small);
    font-family: inherit;
    font-size: var(--font-size-medium);
    transition: all 0.5s ease;
}
button:hover {
    background-color: var(--color-hover-primary);
}
.content-title{
    text-transform: uppercase;
}
.text-primary{
    color: var(--color-primary);
}
